@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sigmar', cursive;
    height: 100vh;
    margin: 0;
}

/* Styles for the header */
header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

header p {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Styles for the main container */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 50px 20px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
}

#buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 214, 220);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

img {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    /* mix-blend-mode: color-burn; tira o fundo da imagem */
}

#buttons button:hover {
    background-color: rgba(235, 10, 10, 0.878);
    transform: scale(1.1);
    /* efeito de zoom */
}

.result {
    margin: 20px 0px;
    font-size: 30px;
}

.scoreboard {
    margin: 20px 0px;
    font-size: 2.5rem;
}

.restart-button {
    margin: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(235, 10, 10, 0.878);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: rgba(236, 61, 61, 0.878);
}

/* Styles for screens smaller than 768px wide */
@media (max-width: 767px) {
    
    #buttons button {
        width: 30%;
        margin: 5px;
    }
}