@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sigmar', cursive;
    height: 100vh;
    margin: 0;
}

img {
    width: 300px;
    height: auto;
}

/* Styles for the header */
header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 20px;
    margin: 0;
}

/* Styles for the main container */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
}

#buttons button {
    background-color: rgb(63, 214, 220);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#buttons button:hover {
    background-color: rgba(235, 10, 10, 0.878);
}

.result {
    margin-top: 50px;
    font-size: 30px;
}

.scoreboard {
    margin-top: 20px;
    font-size: 24px;
}

.restart-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(235, 10, 10, 0.878);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: rgba(236, 61, 61, 0.878);
}

/* Styles for screens smaller than 768px wide */
@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 30px;
        text-align: center;
    }

    header p {
        font-size: 16px;
        text-align: center;
    }

    #main-container {
        width: 100%;
        margin-top: 30px;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    #buttons button {
        width: 200px;
        font-size: 14px;
        margin: 10px 0;
    }
}